
/*
 * Layouts
 * -------
 */

@import '~Formation/layouts/breakout';
@import '~Formation/layouts/flex';

/*

Vertical padding

xs - 10
sm - 15
md - 20
default - 30
lg - 40
xl - 50

*/

.l-pad-v-xs,
.l-pad-v-xs-t {
	padding-top: 10px;
}

.l-pad-v-xs,
.l-pad-v-xs-b {
	padding-bottom: 10px;
}

.l-pad-v-sm,
.l-pad-v-sm-t {
	padding-top: 15px;
}

.l-pad-v-sm,
.l-pad-v-sm-b {
	padding-bottom: 15px;
}

.l-pad-v-md,
.l-pad-v-md-t {
	padding-top: 20px;
}

.l-pad-v-md,
.l-pad-v-md-b {
	padding-bottom: 20px;
}

.l-pad-v,
.l-pad-v-t {
	padding-top: 30px;
}

.l-pad-v,
.l-pad-v-b {
	padding-bottom: 30px;
}

.l-pad-v-lg,
.l-pad-v-lg-t {
	padding-top: 40px;
}

.l-pad-v-lg,
.l-pad-v-lg-b {
	padding-bottom: 40px;
}

.l-pad-v-xl,
.l-pad-v-xl-t {
	padding-top: 50px;
}

.l-pad-v-xl,
.l-pad-v-xl-b {
	padding-bottom: 50px;
}

.l-pad-v-xxl,
.l-pad-v-xxl-t {
	padding-top: 70px !important;
	@include breakpointMax( 900 ) {
		padding-top: 55px !important;
	}
}

.l-pad-v-xxl,
.l-pad-v-xxl-b {
	padding-bottom: 70px !important;
	@include breakpointMax( 900 ) {
		padding-bottom: 60px !important;
	}
}

.l-pad-v-container {
    &.--xs,
    &.--xs-t {
        margin-top: -10px;
    }
    &.--xs,
    &.--xs-b {
        margin-bottom: -10px;
    }
	&.--sm,
	&.--sm-t {
		margin-top: -15px;
	}
	&.--sm,
	&.--sm-b {
		margin-bottom: -15px;
	}
	&.--md,
	&.--md-t {
		margin-top: -20px;
	}
	&.--md,
	&.--md-b {
		margin-bottom: -20px;
	}
	&.--t {
		margin-top: -30px;
	}
	&.--b {
		margin-bottom: -30px;
	}
	&.--lg,
	&.--lg-t {
		margin-top: -40px;
	}
	&.--lg,
	&.--lg-b {
		margin-bottom: -40px;
	}
	&.--xl,
	&.--xl-t {
		margin-top: -50px;
	}
	&.--xl,
	&.--xl-b {
		margin-bottom: -50px;
	}
	&.--xxl,
	&.--xxl-t {
		margin-top: -70px;
	}
	&.--xxl,
	&.--xxl-b {
		margin-bottom: -70px;
	}
}

/* Horizontal padding */

.l-pad-h-xs {
    margin-right: -10px;
    margin-left: -10px;
}

.l-pad-h-sm {
    margin-right: -15px;
    margin-left: -15px;
}

.l-pad-h-md {
    margin-right: -20px;
    margin-left: -20px;
}

.l-pad-h {
    margin-right: -30px;
    margin-left: -30px;
}

.l-pad-h-lg {
    margin-right: -40px;
    margin-left: -40px;
}

.l-pad-h-xl {
    margin-right: -50px;
    margin-left: -50px;
}

.l-pad-h-md,
.l-pad-h,
.l-pad-h-lg,
.l-pad-h-xl {
	@include breakpointMax( 1000 ) {
		margin-right: -15px;
		margin-left: -15px;
	}
}

.l-pad-h__item {
    .l-pad-h-xs > & {
        padding-right: 10px;
        padding-left: 10px;
    }
    .l-pad-h-sm > & {
        padding-right: 15px;
        padding-left: 15px;
    }
    .l-pad-h-md > & {
        padding-right: 20px;
        padding-left: 20px;
    }
    .l-pad-h > & {
        padding-right: 30px;
        padding-left: 30px;
    }
    .l-pad-h-lg > & {
        padding-right: 40px;
        padding-left: 40px;
    }
    .l-pad-h-xl > & {
        padding-right: 50px;
        padding-left: 50px;
    }
    @include breakpointMax( 1000 ) {
		.l-pad-h-md > &,
		.l-pad-h > &,
        .l-pad-h-lg > &,
        .l-pad-h-xl > & {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

/* Flex */

.l-flex-grow {
    @extend %u-flex-grow-1;
}

.l-flex-row {
	& .fusion-row {
		display: flex !important;
		flex-wrap: wrap;
	}
}

.l-flex-equal {
    &,
    & > .fusion-column-wrapper {
        @extend %u-display-flex;
        @extend %u-flex-grow-1;
        flex-direction: column;
    }
}

.l-flex-wrap-900 {
	@include breakpointMax( 900 ) {
		flex-wrap: wrap;
	}
}

.l-basis-100 {
	flex-basis: 100%;
}

/* Width */

.l-33 {
	@extend %u-width-100;
	@include breakpointMin( 900 ) {
		width: 33.33333%;
		&.--max {
			max-width: 33.33333%;
		}
	}
}

.l-50 {
	@extend %u-width-100;
	@include breakpointMin( 900 ) {
		width: 50%;
		&.--max {
			max-width: 50%;
		}
	}
}

.l-w-50 {
	width: calcRem( 50px );
}

.l-w-70 {
	width: calcRem( 70px );
}

.l-w-85 {
	width: calcRem( 85px );
}

.l-w-150 {
	width: calcRem( 150px );
	@include breakpointMax( 1000 ) {
		width: calcRem( 90px );
	}
}

.l-w-150-meta {
	@include breakpointMax( 1000 ) {
		min-height: calcRem( 90px );
		& > div {
			margin: auto 0;
		}
	}
	@include breakpointMin( 1000 ) {
		padding-top: 15px;
	}
}

.l-w-150-text {
	@include breakpointMax( 1000 ) {
		margin-left: calcRem( -120px );
	}
}

.l-h-150 {
	height: calcRem( 150px );
	@include breakpointMax( 1000 ) {
		height: calcRem( 90px );
	}
}

.l-max-600 {
	max-width: calcRem( 600px );
	margin: 0 auto;
}

/* Fusion */

.fusion-header,
html:not(.avada-has-site-width-percent) #main,
html:not(.avada-has-site-width-percent) .fusion-footer-copyright-area,
html:not(.avada-has-site-width-percent) .fusion-footer-widget-area,
html:not(.avada-has-site-width-percent) .fusion-secondary-header,
html:not(.avada-has-site-width-percent) .fusion-sliding-bar-position-bottom .fusion-sliding-bar,
html:not(.avada-has-site-width-percent) .fusion-sliding-bar-position-top .fusion-sliding-bar,
html:not(.avada-has-site-width-percent) .header-v4 #small-nav,
html:not(.avada-has-site-width-percent) .header-v5 #small-nav,
html:not(.avada-has-site-width-percent) .sticky-header .sticky-shadow,
html:not(.avada-has-site-width-percent) .tfs-slider .slide-content-container {
    @extend %u-container-padding;
}

.fusion-column-last {
    margin-bottom: 0 !important;
}
