
/*
 * Widths
 * ------
 */

.l-33 {
	@extend %u-width-100;
	@include breakpointMin( 900 ) {
		width: 33.33333%;
		&.--max {
			max-width: 33.33333%;
		}
	}
}

.l-50 {
	@extend %u-width-100;
	@include breakpointMin( 900 ) {
		width: 50%;
		&.--max {
			max-width: 50%;
		}
	}
}

.l-w-50 {
	width: calcRem( 50px );
}

.l-w-70 {
	width: calcRem( 70px );
}

.l-w-85 {
	width: calcRem( 85px );
}

.l-w-150 {
	width: 25%;
	max-width: calcRem( 150px );
	min-width: calcRem( 75px );
	box-sizing: content-box;
	&.--fixed {
		@extend %u-flex-shrink-0;
		min-width: calcRem( 150px );
		max-width: calcRem( 150px );
	}
	&.--lg {
		@extend %u-width-100;
	}
	@include breakpointMax( 1200 ) {
		&.--fixed {
			min-width: calcRem( 85px );
			max-width: calcRem( 85px );
		}
	}
}

.l-w-150-meta {
	@include breakpointMax( 1200 ) {
		min-height: calcRem( 90px );
		& > div {
			margin: auto 0;
		}
	}
	@include breakpointMin( 1200 ) {
		padding-top: 15px;
	}
}

.l-w-150-text {
	@include breakpointMax( 1200 ) {
		margin-left: calcRem( -115px );
	}
}

.l-w-300 {
	width: 33.33333%;
	min-width: calcRem( 240px );
	max-width: calcRem( 380px );
	@include breakpointMax( 900 ) {
		margin: 0 auto;
	}
}

.l-max-600 {
	max-width: calcRem( 600px );
	margin: 0 auto;
}

.l-max-700 {
	max-width: 700px !important;
}
