
/*
 * Title bar
 * ---------
 */

.c-page-title-bar {
    padding-top: 175px !important;
    padding-bottom: 75px !important;
    &.--p-sm {
        padding-top: 140px !important;
    }
    &.--front {
        padding-top: 230px !important;
        padding-bottom: 100px !important;
    }
    &.fusion-fullwidth .fusion-row,
    & .fusion-layout-column {
        position: static !important;
    }
    & .fusion-column-wrapper {
        & > *:not( .fusion-imageframe ) {
            @extend %u-position-relative;
            z-index: 1;
        }
    }
    @include breakpointMin( 900 ) {
        padding-top: 275px !important;
        padding-bottom: 120px !important;
        &.--p-sm {
            padding-top: 200px !important;
        }
        &.--front {
            padding-top: 300px !important;
            padding-bottom: 200px !important;
        }
    }
}

.c-page-title-bar__content {
    max-width: 700px;
}
