
/*
 * Title bar
 * ---------
 */

.c-page-title-bar {
    padding-top: calc( 175px + ( 275 - 175 ) * ( ( 100vw - 0px ) / ( 1400 - 0 ) ) ) !important;
    padding-bottom: calc( 75px + ( 100 - 75 ) * ( ( 100vw - 0px ) / ( 1400 - 0 ) ) ) !important;
    &.--p-sm {
        padding-top: calc( 140px + ( 200 - 140 ) * ( ( 100vw - 0px ) / ( 1400 - 0 ) ) ) !important;
    }
    &.--front {
        padding-top: calc( 230px + ( 300 - 230 ) * ( ( 100vw - 0px ) / ( 1400 - 0 ) ) ) !important;
        padding-bottom: calc( 130px + ( 200 - 130 ) * ( ( 100vw - 0px ) / ( 1400 - 0 ) ) ) !important;
    }
    &.fusion-fullwidth .fusion-row,
    & .fusion-layout-column {
        position: static !important;
    }
    & .fusion-column-wrapper {
        & > *:not( .fusion-imageframe ) {
            @extend %u-position-relative;
            z-index: 1;
        }
    }
    @include breakpointMin( 1400 ) {
        padding-top: 275px !important;
        padding-bottom: 100px !important;
        &.--p-sm {
            padding-top: 200px !important;
        }
        &.--front {
            padding-top: 300px !important;
            padding-bottom: 200px !important;
        }
    }
}
