
/*
 * Gray
 * ----
 */

.o-gray {
    & .o-gray__item,
    & .fusion-imageframe {
        @extend %u-bottom-gradient;
        &.--side-gradient {
            &::before {
                content: '';
                @extend %u-position-absolute;
                @extend %u-top-0;
                @extend %u-left-0;
                @extend %u-right-0;
                @extend %u-bottom-0;
                @include linearGradient(
                    to right,
                    false,
                    rgba( getColor( 'foreground-base' ), 1 ) 0%,
                    rgba( getColor( 'foreground-base' ), 0 ) 100%
                );
                z-index: 1;
            }
        }
    }
    &.--gray-20 {
        & .fusion-column-inner-bg-image,
        & .fusion-imageframe img,
        & .o-gray__item img,
        & .o-gray__fig img {
            @include grayscale( 20% );
        }
    }
    &.--gray-30 {
        & .fusion-column-inner-bg-image,
        & .fusion-imageframe img,
        & .o-gray__item img,
        & .o-gray__fig img {
            @include grayscale( 30% );
        }
    }
    &.--gray-40 {
        & .fusion-column-inner-bg-image,
        & .fusion-imageframe img,
        & .o-gray__item img,
        & .o-gray__fig img {
            @include grayscale( 40% );
        }
    }
    &.--gray-50 {
        & .fusion-column-inner-bg-image,
        & .fusion-imageframe img,
        & .o-gray__item img,
        & .o-gray__fig img {
            @include grayscale( 50% );
        }
    }
    &.--gray-100 {
        & .fusion-column-inner-bg-image,
        & .fusion-imageframe img,
        & .o-gray__item img,
        & .o-gray__fig img {
            @extend %u-grayscale;
        }
    }
    &.--op-30 {
        & .fusion-column-inner-bg-image,
        & .fusion-imageframe img,
        & .o-gray__item img,
        & .o-gray__fig img {
            opacity: 0.3 !important;
        }
    }
    &.--op-40 {
        & .fusion-column-inner-bg-image,
        & .fusion-imageframe img,
        & .o-gray__item img,
        & .o-gray__fig img {
            opacity: 0.4 !important;
        }
    }
    &.--op-50 {
        & .fusion-column-inner-bg-image,
        & .fusion-imageframe img,
        & .o-gray__item img,
        & .o-gray__fig img {
            @extend %u-opacity-50;
        }
    }
    &.--op-75 {
        & .fusion-column-inner-bg-image,
        & .fusion-imageframe img,
        & .o-gray__item img,
        & .o-gray__fig img {
            opacity: 0.75 !important;
        }
    }
    & .fusion-column-inner-bg {
        & a {
            @extend %u-bottom-gradient;
        }
    }
}
