
/*
 * Quote
 * -----
 */

.o-quote {
    @extend %u-position-relative;
    padding-left: 55px;
    &::before {
        content: "\201C";
        @extend %u-position-absolute;
        @extend %u-color-primary-light;
        @extend %u-left-0;
        @extend %u-top-0;
        @include fontRem( 120px );
        transform: translateY(-20%);
        font-family: 'Arial', sans-serif;
        font-style: normal;
        line-height: 1;
        z-index: -1;
        opacity: 0.75;
    }
    @include breakpointMin( 1400 ) {
        padding-left: 70px;
        &::before {
            @include fontRem( 140px );
        }
    }
}
