
/*
 * Social
 * ------
 */

.fusion-social-networks-wrapper {
    @extend %u-text-align-center;
    .widget .fusion-social-networks.boxed-icons & {
        margin: -8px !important;
    }
}

.fusion-social-networks {
    overflow: visible;
}

.fusion-social-network-icon {
    @extend %u-transition-transform-ease;
    .fusion-footer & {
        border: calcRem( 2px ) solid rgba( getColor( 'background-light' ), 0.2 ) !important;
    }
    .widget .fusion-social-networks.boxed-icons & {
        margin: 8px !important;
    }
    &:hover,
    &:focus,
    &:active {
        opacity: 1 !important;
        @extend %u-transform-scale;
    }
}

.o-social {
    @extend %u-display-block;
    transition: transform 300ms ease, color 200ms ease !important;
    &::before {
        color: inherit !important;
        font-size: calcRem( 24px );
    }
    &:hover,
    &:focus,
    &:active {
        @extend %u-transform-scale;
        color: getColor( 'background-light' ) !important;
    }
}

.fusion-sharing-box.share-box {
    @extend %u-display-flex;
    @extend %u-align-items-center;
    & h4,
    & a {
        margin: 0 !important;
    }
    & h4 {
        @include fontRem( 16px, true );
        font-weight: 400 !important;
        padding-right: 10px !important;
    }
}
