
/*
 * Subtext
 * -------
 */

.o-subtext,
.o-subtext-sm,
.o-subtext-lg {
    &,
    & * {
        @extend %u-text-transform-uppercase;
        @extend %u-font-weight-bold;
        letter-spacing: 0.1em !important;
        line-height: 1.25 !important;
        height: auto !important;
        opacity: 1 !important;
    }
    & p {
        margin: 0 !important;
    }
    &.--l {
        &,
        & * {
            @extend %u-font-weight-light;
        }
    }
}

.o-subtext {
    &,
    & * {
        @include fontRem( 15px );
    }
}

.o-subtext-sm {
    &,
    & * {
        @include fontRem( 13px );
    }
}

.o-subtext-lg {
    &,
    & * {
        line-height: 1.5 !important;
    }
}
