
/*
 * Table
 * -----
 */

@import '~Formation/objects/table/table';

.o-table {
    & tr {
        border-bottom: 2px solid rgba( getColor( 'background-light' ), 0.1 );
    }
    &[data-collapse="true"] td {
        padding-bottom: calcRem( 20px );
        &:first-child,
        &:nth-child( 2 ) {
            display: table-cell;
        }
    }
}
