
/*
 * Base
 * ----
 */

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.01em;
}

a {
    .u-fade-out-links & {
        @extend %u-transition-opacity-transform-ease;
        &:hover,
        &:focus,
        &:active {
            opacity: 0.65 !important;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    & a {
        font-size: inherit !important;
        color: inherit !important;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    letter-spacing: 0.01em !important;
    margin-top: 0 !important;
}

h2 {
    .sm-h &,
    &.sm {
        @include fontRem( 36px );
    }
}

h3 {
    .lg-h &,
    &.lg {
        @include fontRem( 28px );
    }
}

p {
    @include fontRem( 20px );
    opacity: 0.6;
    line-height: 1.8;
    margin-bottom: 30px;
    .post-content & {
        margin-bottom: 30px !important;
    }
    @include breakpointMax( 1000 ) {
        @include fontRem( 18px );
    }
}

input,
textarea,
select {
    letter-spacing: 0.01em;
}

*:focus {
    outline: 0;
}

*.focus-ring {
	outline: calcRem( 3px ) solid rgba( getColor( 'primary-light' ), 0.66 ) !important;
}
