
/*
 * Overrides
 * ---------
 */

/* Main */

#main {
    & {
        padding-top: 0 !important;
    }
    @include breakpointMax( 900 ) {
        padding-top: calcRem( 50px );
        padding-bottom: calcRem( 50px );
    }
    @include breakpointMin( 900 ) {
        .is-front & {
            padding-top: calcRem( 70px ) !important;
        }
    }
}

/* Content */

#content {
    .single-course & {
        float: none !important;
    }
}

/* Containers */

.fusion-header,
html:not(.avada-has-site-width-percent) #main,
html:not(.avada-has-site-width-percent) .fusion-footer-copyright-area,
html:not(.avada-has-site-width-percent) .fusion-footer-widget-area,
html:not(.avada-has-site-width-percent) .fusion-secondary-header,
html:not(.avada-has-site-width-percent) .fusion-sliding-bar-position-bottom .fusion-sliding-bar,
html:not(.avada-has-site-width-percent) .fusion-sliding-bar-position-top .fusion-sliding-bar,
html:not(.avada-has-site-width-percent) .header-v4 #small-nav,
html:not(.avada-has-site-width-percent) .header-v5 #small-nav,
html:not(.avada-has-site-width-percent) .sticky-header .sticky-shadow,
html:not(.avada-has-site-width-percent) .tfs-slider .slide-content-container {
    @extend %u-container-padding;
}

/* Image hovers */

.fusion-image-hovers .hover-type-zoomin.hover .fusion-column-inner-bg-image,
.fusion-image-hovers .hover-type-zoomin.hover .fusion-masonry-element-container,
.fusion-image-hovers .hover-type-zoomin.hover .tribe-events-event-image,
.fusion-image-hovers .hover-type-zoomin.hover img,
.fusion-image-hovers .hover-type-zoomin:hover .fusion-column-inner-bg-image,
.fusion-image-hovers .hover-type-zoomin:hover .fusion-masonry-element-container,
.fusion-image-hovers .hover-type-zoomin:hover .tribe-events-event-image,
.fusion-image-hovers .hover-type-zoomin:hover img {
    @extend %u-transform-scale;
}

/* Columns */

.fusion-column-last {
    margin-bottom: 0 !important;
}

/* Content boxes */

.fusion-content-boxes .content-container {
    padding-left: 0 !important;
}

.fusion-content-boxes.content-boxes-icon-on-side .heading-with-icon {
    @include breakpointMax( 900 ) {
        min-height: 90px;
        display: flex;
        align-items: center;
    }
}

.fusion-content-boxes.content-boxes-icon-on-side .content-icon-wrapper-yes .heading-with-icon .icon span,
.fusion-content-boxes.content-boxes-icon-with-title .content-icon-wrapper-yes .heading-with-icon .icon span {
    @include breakpointMin( 900 ) {
        margin-right: 35px !important;
    }
}

.fusion-content-boxes .content-container,
.fusion-content-boxes .heading .content-box-heading {
    @include breakpointMin( 900 ) {
        padding-left: 123px !important;
    }
}

/* Lists */

.fusion-text {
    & ol,
    & ul {
        margin-left: 7.5%;
        padding: 0;
    }
    & ul {
        list-style: none;
        & li {
            padding-left: calcRem( 40px );
            &::before {
                content: '';
                @extend %u-background-color-primary-light;
                @extend %u-border-radius-100;
                @extend %u-position-absolute;
                @extend %u-left-0;
                width: calcRem( 8px );
                height: calcRem( 8px );
                top: calcRem( 12px );
            }
            @include breakpointMax( 600 ) {
                padding-left: calcRem( 30px );
            }
        }
    }
    & ol {
        list-style: decimal;
        counter-reset: item;
        & li {
            padding-left: 45px;
            &::before {
                content: counter( item ) '. ';
                @extend %u-position-absolute;
                @extend %u-top-0;
                @extend %u-left-0;
                @extend %u-color-background-light;
                @extend %u-font-weight-bold;
                counter-increment: item;
            }
        }
    }
    & li {
        @extend %u-position-relative;
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

/* Tooltip */

.tooltip-inner {
    background-color: getColor( 'foreground-base' ) !important;
}

.tooltip.top .tooltip-arrow,
.tooltip.top-left .tooltip-arrow,
.tooltip.top-right .tooltip-arrow {
    border-top-color: getColor( 'foreground-base' ) !important;
}


.tooltip.right .tooltip-arrow {
    border-right-color: getColor( 'foreground-base' ) !important;
}

.tooltip.left .tooltip-arrow {
    border-left-color: getColor( 'foreground-base' ) !important;
}

.tooltip.bottom .tooltip-arrow,
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: getColor( 'foreground-base' ) !important;
}

/* Archive display */

.fusion-blog-layout-medium .fusion-post-slideshow,
.fusion-blog-layout-medium-alternate .fusion-post-slideshow {
    margin-right: 5%;
}

.fusion-body .fusion-blog-layout-medium .fusion-post-slideshow {
    @include breakpointMax( 640 ) {
        margin-bottom: 30px;
    }
}

.fusion-blog-layout-medium article {
    border-bottom: calcRem( 2px ) solid rgba( getColor( 'background-light' ), 0.1 );
    padding-bottom: 40px;
    margin-bottom: 50px;
    &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
    }
}

.fusion-meta-info {
    border: 0;
    @include breakpointMin( 640 ) {
        .search-results & {
            width: 100%;
            margin-left: calc( 320px + 5% );
        }
    }
}

.fusion-loading-container {
    @extend %u-text-align-center;
}

.fusion-load-more-button {
    font-weight: 600 !important;
    display: block !important;
    max-width: calcRem( 250px );
    margin-left: auto;
    margin-right: auto;
}

/* Search */

.fusion-search-field input {
    border-radius: calcRem( 50px ) !important;
}

/* Contact Form 7 */

.wpcf7-form {
    & .wpcf7-text,
    & .wpcf7-select,
    & textarea {
        border-radius: 5px;
    }
}

.wpcf7-form .wpcf7-not-valid-tip {
    @extend %u-display-block;
}

span.wpcf7-not-valid-tip {
    color: getColor( 'primary-light' );
    opacity: 0.8;
    margin-top: 8px;
}

/* Alerts */

.fusion-alert .close {
    border: 0 !important;
}

/* Loader */

.fusion-slider-loading {
    margin-top: 20px !important;
    border-color: rgba( getColor( 'background-light' ), 0.2 ) !important;
    border-bottom-color: getColor( 'background-light' ) !important;
    border-left-color: getColor( 'background-light' ) !important;
}
