
/*!
Theme Name: Avada Child
Theme URI: https://promixacademy.com/
Description: Theme for Pro Mix Academy based on Avada
Template: Avada
Author: Graciela Alaniz
Author URI: https://gracielaalaniz.com
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

/* Functions */

@import '~Formation/utils/functions/calc-rem-em';
@import '~Formation/utils/functions/map';
@import '~Formation/utils/functions/get-color';
@import '~Formation/utils/functions/strip-unit';

/* Config */

@import '~Formation/config/variables';
@import 'config/variables';

/* Mixins */

@import '~Formation/utils/mixins/breakpoint';
@import '~Formation/utils/mixins/font-rem';
@import '~Formation/utils/mixins/fluid-size';
@import '~Formation/utils/mixins/gradient';
@import '~Formation/utils/mixins/grayscale';

/* Atomic */

@import '~Formation/utils/atomic/props';
@import '~Formation/utils/atomic/classes';

/* Utility classes */

@import 'utils/props';
@import 'utils/classes';

/* Base */

@import 'base/base';
@import 'base/overrides';

/* Layouts */

@import 'layouts/layouts';

// override layout padding
.u-p-v-0-900 {
    @include breakpointMin( 900 ) {
        padding-bottom: 0 !important;
        padding-top: 0 !important;
    }
}

/* Components */

@import 'components/header';
@import 'components/title-bar';
@import 'components/footer';
@import 'components/to-top';
@import 'components/cta';
@import 'components/search';

/* Objects */

@import '~Formation/objects/aspect-ratio/aspect-ratio';
@import 'objects/subtext';
@import 'objects/button';
@import 'objects/social';
@import 'objects/cover';
@import 'objects/tri';
@import 'objects/gray';
@import 'objects/text-overlay';
@import 'objects/quote';
@import 'objects/stars';
@import 'objects/clamp';
@import 'objects/table';
@import 'objects/loader';
