
/*
 * Classes
 * -------
 */

/* Color */

.u-color-primary-light {
    &,
    & p,
    & a {
        color: getColor( 'primary-light' ) !important;
        opacity: 1 !important;
    }
}

.u-color-background-light {
    &,
    & p,
    & a {
        color: getColor( 'background-light' ) !important;
    }
}

/* Background */

.u-bg-light {
    background-color: rgba( getColor( 'background-light' ), 0.04 );
}

/* Font weight */

.u-fw-light {
    font-weight: 400 !important;
}

/* Margin */

.u-m-0 {
    margin: 0 !important;
}

.u-m-auto {
    margin: auto;
}

.u-p-0 {
    & p:last-child {
        margin: 0 !important;
    }
}

.u-fig {
    & figure {
        margin: 0 !important;
    }
}

/* Flex */

.u-flex-grow-1 {
    @extend %u-flex-grow-1;
}

/* Text */

.u-text,
.u-text-sm,
.u-text-md,
.u-text-md *,
.u-text-lg,
.u-text-lg * {
    line-height: 1.6;
}

.u-text-sm {
    &,
    & p,
    & li {
        @include fontRem( 14px );
    }
    & p {
        margin-bottom: 15px;
    }
}

.u-text,
.content-boxes .content-container {
    &,
    & p,
    & li {
        @include fontRem( 16px );
    }
    & p {
        margin-bottom: 20px;
    }
}

.u-text-m {
    &,
    & p,
    & li {
        @include fontRem( 18px );
    }
}

.u-text-md {
    &,
    & p,
    & li {
        @include fontRem( 20px );
    }
    @include breakpointMax( 900 ) {
        &,
        & p,
        & li {
            @include fontRem( 18px );
        }
    }
}

.u-text-lg {
    &,
    & p,
    & li {
        @include fontRem( 24px );
        opacity: 1 !important;
    }
    @include breakpointMax( 900 ) {
        &,
        & p,
        & li {
            @include fontRem( 20px );
        }
    }
}

.u-text-center-900 {
    @include breakpointMax( 900 ) {
        text-align: center;
    }
}

/* Gradient */

.u-bottom-gradient {
    @extend %u-bottom-gradient;
}

/* Opacity */

.u-op-70 {
    opacity: 0.7;
}

/* Transform */

.u-transform-scale {
    & img {
        transition: transform 800ms;
    }
    &:hover,
    &:active,
    &:focus {
        & img {
            @extend %u-transform-scale;
        }
    }
}

.u-transform-scale-fig {
    & figure {
        transition: transform 800ms;
    }
    &:hover,
    &:active,
    &:focus {
        & figure {
            @extend %u-transform-scale;
        }
    }
}

.u-transform-y-900 {
    @include breakpointMin( 900 ) {
        transform: translateY( -20% );
    }
}

/* Underline */

.u-underline {
    & > * {
        @extend %u-position-relative;
        padding-bottom: 8px !important;
        &::after {
            content: '';
            @extend %u-background-color-primary-light;
            @extend %u-transition-transform-ease;
            @extend %u-position-absolute;
            @extend %u-bottom-0;
            @extend %u-right-0;
            @extend %u-left-0;
            height: calcRem( 2px );
        }
        .fusion-layout-column:hover &::after {
            transform: scaleX( 0 );
        }
    }
}

/* Border */

.u-b-top {
    border-top: calcRem( 2px ) solid rgba( getColor( 'background-light' ), 0.1 );
}

.u-b-half {
    @extend %u-position-relative;
    &::after {
        content: '';
        @extend %u-background-color-background-light;
        @extend %u-position-absolute;
        @extend %u-height-100;
        @extend %u-top-0;
        opacity: 0.1;
        left: 50%;
        width: calcRem( 2px );
    }
    &.--offset-p-xxl::after {
        top: 70px;
        height: calc( 100% - 140px );
    }
    &.--offset-p-xl::after {
        top: 50px;
        height: calc( 100% - 100px );
    }
    @include breakpointMax( 900 ) {
        &::after {
            content: none;
        }
    }
}

/* Misc */

.u-time {
    @include fontRem( 24px );
    margin-right: 15px;
}

.u-list {
    & h4 {
        margin-bottom: 12px !important;
    }
    & p {
        margin-bottom: 35px !important;
    }
}

.u-float-none {
    float: none !important;
}

.u-soundcloud iframe {
    max-height: calcRem( 400px );
    height: 50vw;
    min-height: calcRem( 250px );
}
